@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  #top {
    text-align: center;
    margin: 0 auto;
  }
  
  #top h1 {
    font-size: 2em;
  }
  
  #content {
    margin-top: 100px;
    font-size: 2em;
    text-align: center;
  }


  #nameField, #dateField, #repsField, #exerciseField {
    font-size: 1.5em;
  }

  #nameField {
    margin-bottom: 20px;
  }
  
  
  #repsField{
 margin-right: 10px;
 margin-bottom: 5px;
 
  }
  
  #exerciseField{
    margin-right: 10px;
    margin-top: 10px;
  }

 label[for="date"]
 {
  margin-left: 5px;
 }

 #exerciseDiv{
  /*background-color: aqua;*/
  margin-left: 100px;
  margin-right: 100px;
 
 }

 #date{
  /*background-color: green;*/
  margin-left: 100px;
  margin-right: 100px;
  /*color: white;*/
 }

 #name{
  font-weight: bold;
 }

 #addUpdateButton, #showButton{
  margin-top: 10px;
 }

 footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.left-column,
.right-column {
  width: 20%; /* Adjust the width as needed */
  /*background-color: aqua;*/
}

.left-column {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.right-column {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
}

@media only screen and (max-width: 600px)
{
  .left-column
  {
   display: none; 
  }

  .right-column
  {
    display: none; 
   }

   label[for="date"]
   {
    text-align: left;
   } 
 

 #dateField
 {
    padding-right: 100px;
    margin-right: 8px;
 }

 label[for="exercise"]
 {
  margin-left: 15px;
 }

 #exerciseField{
  padding-right: 117px;
 
 }

 label[for="reps"]
 {
  margin-left: 15px;
 }

 #repsField{
  padding-right: 230px;
  margin-left: 20px;
 }

}


   

}