html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  #top {
    text-align: center;
    margin: 0 auto;
  }
  
  #top h1 {
    font-size: 2em;
  }
  
  #content {
    margin-top: 100px;
    font-size: 2em;
    text-align: center;
  }


  #nameField, #dateField, #repsField, #exerciseField {
    font-size: 1.5em;
  }

  #nameField {
    margin-bottom: 20px;
  }
  
  
  #repsField{
 margin-right: 10px;
 margin-bottom: 5px;
 
  }
  
  #exerciseField{
    margin-right: 10px;
    margin-top: 10px;
  }

 label[for="date"]
 {
  margin-left: 5px;
 }


  

